#!/bin/bash

export AKENEO_URL="https://localhost:8000"
export AKENEO_CLIENT_ID="<client_id>"
export AKENEO_CLIENT_SECRET="<client_secret>"
export AKENEO_USERNAME="<username>"
export AKENEO_PASSWORD="<password>"
